.post-type-archive-newsletter {
    #main {
        @media only screen and (min-width: 575.98px) {
            min-height: 1177px;
        }
    }
    .alm-reveal {
        display: block !important;
    }
    .headerPage {
        padding: 100px 0 58px;
        background-color: #055966;
        @media only screen and (max-width: 575.98px) {
            padding: 65px 0 30px;
        }

        h1 {
            color: #FFF;
            font-size: 44px;
            font-weight: 600;
            line-height: 52px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 10px;
            @media only screen and (max-width: 575.98px) {
                font-size: 33px;
            }
        }
        p {
            flex: 0 0 75%;
            max-width: 75%;
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 30px;
            @media only screen and (max-width: 575.98px) {
                max-width: 100%;
                font-size: 16px;
            }
        }
        form {
            .inputs {
                @media only screen and (max-width: 575.98px) {
                    flex-direction: column;
                    width: 100%;
                    max-width: 100%;
                }
                label {
                    margin-bottom: 0px;
                    display: flex;
                    @media only screen and (max-width: 575.98px) {
                        margin-bottom: 10px;
                        height: 42px;
                    }
    
                    .material-icons {
                        background-color: #fff;
                        color: #757575;
                        border-radius: 4px 0px 0px 4px;
                        outline: none;
                        border: 2px solid #a6a6a6;
                        border-right: none;
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
                    }
                    input {
                        border-radius: 0px 4px 4px 0px;
                        outline: none;
                        border: 2px solid #A6A6A6;
                        border-left: none;
                        @media only screen and (max-width: 575.98px) {
                            width: 100%;
                            max-width: 100%;
                        }
                        &::placeholder {
                            color: #757575;
                            font-size: 14px;
                            line-height: 16px;
                            letter-spacing: 0em;
                            text-align: left;
                            padding-left: 10px;
                        }
                    }
                }
            }
            .termos {
                color: #FFF;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 0;
            }
            button {
                background-color: #EFA25A;
                border-radius: 4px;
                border: none;
                outline: none;
                color: #FFF;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                padding: 9px 14px;
                @media only screen and (max-width: 575.98px) {
                    width: 30%;
                }
            }
            .material-icons {
                font-size: 24px;
            }
            .checkform {
                flex: 0 0 85%;
                max-width: 85%;
                display: flex;

                label {
                    margin-left: 12px;
                }
            }
        }
    }

    .bodyPage {
        padding: 28px 0px;
        display: flex;
        flex-wrap: wrap;

        h2 {
            color: #000;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 19px;
        }
        .news-information {
            margin-bottom: 30px;
            .news-date {
                a {
                    color: #616161;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 4px;
                }
            }
            .news-title {
                a {
                    color: #055966;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        .ver-maisNews {
            #ajax-load-more {
                .alm-load-more-btn.more {
                    display: flex;
                    padding: 0px;
                    background: none;
                    color: #EFA25A;
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-decoration: none;
                    box-shadow: none;
                    &::after {
                        // content: ">";
                        color: #f58521;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19px;
                        letter-spacing: 0;
                        padding-left: 8px;
                    }
                }
            }
        }

        .newsPreview {
            position: relative;
            
            #newspreview {
                padding: 8px 20px;
                background-color: #ffffff;
                position: absolute;
                top: -255px;
                @media only screen and (max-width: 575.98px) {
                    position: relative;
                    top: 0px;
                }

                .headerNewsletter {
                    img {
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .bodyNewsletter {
                    .date {
                        p {
                            color: #ee9c51;
                            font-size: 14px;
                            font-weight: 700;
                            text-align: center;
                            margin: 13px 0;
                        }
                    }
                    .resume {
                        p {
                            color: #000;
                            font-size: 13px;
                            line-height: 1.5;
                            text-align: left;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }
                    }
                    .post1 {
                        border-bottom: 1px solid rgba(128, 128, 128, 0.425);

                        .post-body {
                            .thumb {
                                margin-top: 15px;
                                margin-bottom: 10px;
                                img {
                                    width: 100%;
                                }
                            }
                            .description {
                                .cat-link{
                                    margin-bottom: 5px;
                                    display: block;
                                    color: $orange-marfrig;
                                    font-size: .75em;
                                    font-weight: 500;
                                }
                                h3 {
                                    font-size: 17px;
                                    font-weight: 600;
                                    a {
                                        text-decoration: none;
                                        color: #000;
                                    }
                                }
                                p {
                                    font-size: 14px;
                                    font-weight: 500;
                                    a {
                                        text-decoration: none;
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }

                    .horizontal-card {
                        display: flex;
                        padding: 20px 0;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.425);

                        .card-img {
                            margin: 0;
                            flex-basis: 53%;
                            max-width: 300px;
                            @media only screen and (max-width: 575.98px) {
                                max-width: 35%;
                            }

                            img {
                                width: 100%;
                            }
                        }
                        .card-content {
                            padding-left: 11px;
                            max-width: 65%;
                            flex-basis: 65%;
                            display: flex;
                            align-items: center;

                            .card-content-inner {
                                .cat-link {
                                    margin: 0 0 1.5rem;
                                    font-size: .75em;
                                    font-weight: 500;
                                    color: #ee9c51;
                                }
                                h3 {
                                    font-size: 14px;
                                    font-weight: 600;
                                    a {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            #newsletter {
                position: absolute;
                top: -375px;
                @media only screen and (max-width: 575.98px) {
                    position: relative;
                    top: 0px;
                }
            }
            #podcastImg {
                &::before {
                    display: block;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: " ";
                    background: linear-gradient(180deg,rgba(255, 255, 255, 0.597),#ffffff 65%);
                    height: 100%;
                }
            }

            .verCompleta {
                border: 2px solid #000;
                border-radius: 1.5px;
                padding: 4px 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 224px;
                margin: 0 auto;
                
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 700;
                    letter-spacing: 0em;
                }
                .material-icons {
                    font-size: 16px;
                }
            }
        }
    }
}