body.category {
    header.header {
        background-color: $musgo-marfrig;
    }

    #main {
        margin-top: 125px;
        @media only screen and (max-width: 575.98px) {
            margin-top: 65px;
        }

        #category-header {
            .cat-title {
                background-color: $orange-marfrig;
                padding: 33px 135px 30px 29px;
                border-radius: 10px;
                margin-bottom: 15px;
                @media only screen and (max-width: 575.98px) {
                    padding: 22px 29px 22px 29px;
                }
    
                h1 {
                    color: $white-marfrig;
                    font-size: 40px;
                    font-weight: 600;
                    @media only screen and (max-width: 575.98px) {
                        font-size: 21.049px;
                    }
                }
            }
    
            .double-cards {
                .card {
                    position: relative;

                    &.default {
                    }
    
                    &.second {
                        background-color: #B2DBBF;
                        border-radius: 10px;
    
                        .thumb-card {
                            min-height: 282px;
                            @media only screen and (max-width: 575.98px) {
                                min-height: 145px;
                            }
                            img {display: none;}
                        }
    
                        .card__content {
                            .cat {color: $white-marfrig;}
                            h2 a {color: $musgo-marfrig;}
                        }
                    }
    
                    .thumb-card {
                        @media only screen and (max-width: 575.98px) {
                            max-height: 145px;
                        }
                        img {
                            width: 100%;
                            max-width: 100%;
                            border-radius: 10px;
                            @media only screen and (max-width: 575.98px) {
                                max-height: 145px;
                            }
                        }
                    }
                    .card__content {
                        position: absolute;
                        bottom: 24px;
                        left: 30px;
                        padding-right: 28px;
                        @media only screen and (max-width: 575.98px) {
                            bottom: 12px;
                            left: 15px;
                            padding-right: 6px;
                        }
                        .cat {
                            @media only screen and (max-width: 575.98px) {
                                font-size: 12px;
                            }
                        }
                        h2 {
                            @media only screen and (max-width: 575.98px) {
                                font-size: 14px;
                            }
                            a {
                                color: $white-marfrig;
                            }
                        }
                    }
                }
            }
        }
    
        .sticky-aside {
            position: sticky;
            top: 40px;
            @media only screen and (max-width: 575.98px) {
                position: inherit;
                margin-bottom: 40px;
            }
        }
    }
}