body.home {
  #main {
    margin-top: 18px;
    @media only screen and (max-width: 575.98px) {
      margin-top: 0;
      overflow-x: hidden;
    }
  }

  .sec-divisor {
    // background: rgba(46, 46, 46, 0.10);
    max-width: 945px;
    margin: 0 auto;
  }

  section.destaque-principal {
    margin-bottom: 60px;
    @media only screen and (max-width: 575.98px) {
      margin-bottom: 30px;
    }

    .col-12.col-md-9 {
      @media only screen and (max-width: 575.98px) {
        padding: 0;
      }

      .card__big {
        .card__thumb {
          &::after {
            top: 0;
            bottom: inherit;
            height: 40%;
            background: linear-gradient(
              0deg,
              rgba(46, 46, 46, 0) 15%,
              rgba(46, 46, 46, 0.9) 100%
            );
            @media only screen and (max-width: 575.98px) {
              border-radius: 0;
            }
          }
          img {
            @media only screen and (max-width: 575.98px) {
              border-radius: 0;
            }
          }
        }
        .card__content {
          padding: 15px 90px 8px 30px;
          border-radius: 10px;
          right: 28px;
          background-color: rgba(0, 0, 0, 0.7);
          @media only screen and (max-width: 575.98px) {
            // padding: 5px 11px 8px 14px;
            // right: 9px;
            // bottom: 10px;
            // left: 10px;
            bottom: 0;
            left: 0;
            position: relative;
            border-radius: 0;
            padding: 10px 15px 15px;
            background: $musgo-marfrig;
            border-radius: 0px;
          }

          p {
            @media only screen and (max-width: 575.98px) {
              font-size: 11px;
              margin-bottom: 0;
            }
            a {
              color: $white-marfrig;
            }
          }
        }
      }
    }

    .mod {
      .card {
        position: relative;
        .card__vertical {
          .card__thumb {
            margin-bottom: 15px; //espaçamento da imagem
          }
          .cat {
            position: absolute; //realocação category
            bottom: 12px;
            left: 12px;
            z-index: 1;
            @media only screen and (max-width: 575.98px) {
              top: 190px;
            }
          }
        }
      }
    }

    .card-spacing:nth-child(2) hr {
      // espaçamento hr do segundo card no pic
      margin: 25px 0 0;
    }
  }

  section.banner-horizontal {
    img {
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }
  }

  section.entrevistaTabs {
    .entrevistaBkg {
      background-color: $verde-marfrig;
      margin: 80px 0 60px;
      @media only screen and (max-width: 575.98px) {
        margin: 80px 0 15px;
      }
    }

    .tabs-entrevistas-marfrig {
      position: relative;
      min-height: 269px;
      display: flex;
      align-items: center;
      background-image: url("../images/entrevistas-sample/path-entrevista-home.png");
      background-repeat: no-repeat;
      background-position: right;
      @media only screen and (max-width: 575.98px) {
        min-height: 238px;
        background-position: inherit;
      }

      .nav.nav-tabs {
        width: calc(100% - 190px);
        border-bottom: none;
        gap: 35px;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        position: absolute;
        left: 190px;
        top: -56px;
        @media only screen and (max-width: 575.98px) {
          flex-wrap: nowrap;
          gap: 15px;
          width: calc(100% - 110px);
          top: -30px;
          left: 110px;
          z-index: 1;
        }

        .title-section {
          color: $azul-marinho-marfrig;
          font-size: 46px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 0;
          @media only screen and (max-width: 575.98px) {
            display: none;
          }
        }

        .nav-item {
          .nav-link {
            color: $title-marfrig;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 0;
            @media only screen and (max-width: 575.98px) {
              font-size: 12px;
            }

            &:hover {
              border: none;
              border-color: inherit;
            }
            &.active {
              background-color: inherit;
              border: none;
              border-color: inherit;
              color: $azul-marinho-marfrig;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              position: relative;
              outline: 0 !important;
              &::after {
                display: block;
                content: "";
                width: 100%;
                height: 4px;
                background-color: $azul-marinho-marfrig;
                position: absolute;
                bottom: -18px;
              }
            }
          }
        }
      }

      .tab-content {
        .tab-pane {
          transition: all 0.2s ease;
        }

        .content {
          display: flex;
          @media only screen and (max-width: 575.98px) {
            z-index: 1;
          }

          .perfil {
            flex: 0 0 auto;
            width: 280px;
            max-width: 280px;

            .thumbnail {
              img {
                max-width: 270px;
                position: absolute;
                bottom: 0px;
                @media only screen and (max-width: 575.98px) {
                  max-width: 237px;
                  left: -62px;
                }

                &.foto-alternativa{
                  max-width: 427px;
                  left: -170px; 
                }
              }
            }
          }

          .title {
            @media only screen and (max-width: 575.98px) {
              margin-left: auto;
              margin-bottom: 10px;
            }

            p {
              color: $azul-marinho-marfrig;
              font-size: 32px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-bottom: 0;
              @media only screen and (max-width: 575.98px) {
                font-size: 18px;
              }
            }
          }
          .more-content {
            @media only screen and (max-width: 575.98px) {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
            }

            p {
              color: $title-marfrig;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-bottom: 20px;
              @media only screen and (max-width: 575.98px) {
                display: none;
              }
            }

            .btn {
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              background-color: #021f59;
              padding: 6px 10px;
              border-radius: 4px;
              @media only screen and (max-width: 575.98px) {
                font-size: 12px;
                padding: 4px 20px;
                margin-right: 10px;
              }

              a {
                color: $white-marfrig;
              }
            }
          }
        }
      }
    }

    .ver-todas {
      margin-left: auto;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $azul-marinho-marfrig;
      @media only screen and (max-width: 575.98px) {
        display: none;
      }
      a {
        color: $azul-marinho-marfrig;
      }
    }
  }

  section.entrevistaMobile {
    .heading-wrapper {
      display: flex;
      h3 {
        color: $azul-marinho-marfrig;
        font-size: 23px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 0;
      }
      hr {
        width: 64%;
        margin-left: auto;
      }
    }

    .entrevistaBkg {
      position: relative;
      &::before {
        content: "";
        display: block;
        background-color: #b2dbbf;
        width: 100%;
        height: 244px;
        bottom: 0;
        position: absolute;
      }

      .tabs-entrevistas-marfrig-mobile {
        position: relative;
        display: flex;
        align-items: center;
        background-image: url("../images/entrevistas-sample/path-entrevista-home.png");
        background-repeat: no-repeat;
        background-position: right;
        background-position: inherit;
        margin-bottom: 14px;

        .slick-list {
          padding-top: 31px;
        }

        .slick-track {
        }

        .slick-prev,
        .slick-next {
          display: none !important;
        }

        .entrevista {
          outline-style: none;
          outline-width: initial;
          outline-color: inherit;

          .content {
            min-height: 238px;
            background-position: inherit;
            position: relative;
            display: flex;
            align-items: center;

            .pessoa-entrevista {
              position: absolute;
              left: 184px;
              top: -31px;
              &::after {
                display: block;
                content: "";
                width: 100%;
                height: 4px;
                background-color: #021f59;
                position: absolute;
                bottom: -13px;
              }

              p {
                background-color: inherit;
                border: none;
                border-color: inherit;
                color: #021f59;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 0;
              }
            }

            .img-entrevista {
              img {
                max-width: 225px;
                left: -6px;
                position: absolute;
                bottom: 0;
                z-index: -1;

                &.foto-alternativa{
                  max-width: 181px;
                  left: 11px;
                  height: 244px;
                }

              }
            }
            .txt-entrevista {
              p {
                font-size: 18px;
                color: #021f59;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 8px;
              }
              .more-content {
                .btn {
                  padding: 4px 12px;
                  margin-right: 10px;
                  background-color: #021f59;
                  border-radius: 4px;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  a {
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        .slick-dots {
          bottom: 25px;
          left: 56px;

          li {
            width: 14px;
            height: 14px;

            &.slick-active {
              button {
                background-color: #021f59;
                &::before {
                  color: #021f59;
                  content: "";
                }
              }
            }

            button {
              border-radius: 50%;
              border: 1px solid #021f59;
              width: 14px;
              height: 14px;

              &::before {
                content: "";
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }

    .ver-todas {
      color: $azul-marinho-marfrig;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  section.bloco-posts {
    .col-md-6 {
      @media only screen and (max-width: 575.98px) {
        padding: 0;
      }

      .card__big .card__thumb {
        &::after {
          @media only screen and (max-width: 575.98px) {
            border-radius: 0px;
          }
        }

        img {
          @media only screen and (max-width: 575.98px) {
            border-radius: 0;
          }
        }
      }
    }

    .mod {
      .card {
        position: relative;
        .card__vertical {
          .card__thumb {
            margin-bottom: 15px; //espaçamento da imagem
          }
          .cat {
            position: absolute; //realocação category
            top: 150px;
            left: 12px;
            @media only screen and (max-width: 575.98px) {
              top: 190px;
            }
          }
        }
      }
    }

    .card-spacing {
      @media only screen and (max-width: 575.98px) {
        flex: 0 0 auto;
        width: 50%;
        padding: 0 10px;
      }
      hr {
        @media only screen and (max-width: 575.98px) {
          margin: 30px 0 0;
        }
      }
    }

    .card-spacing:nth-child(2) hr {
      // espaçamento hr do segundo card no pic
      margin: 30px 0 0;
    }
  }

  section.especiais {
    @media only screen and (min-width: 575.98px) {
      .cards-especiais {
        gap: 0;

        .especial {
          flex: 0 0 auto;
          width: 23.5%;
          min-height: 169px;
          border-radius: 10px;

          &.third {
            order: 1;
          }

          p {
            padding-bottom: 43px;
            padding-left: 29px;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          .arrow {
            width: 25px;
            height: 25px;
            margin-bottom: 43px;
          }
        }
      }
    }
  }

  section.webstories-1 {
    .texto-webstories {
      font-size: 46px;
      font-weight: 600;
      line-height: 57px;
      color: $musgo-marfrig;
      @media only screen and (max-width: 575.98px) {
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .web-stories-list {
      @media only screen and (max-width: 575.98px) {
        margin-top: 0;
      }

      .web-stories-list__story {
        border-radius: 10px;
        @media only screen and (max-width: 575.98px) {
          flex: 0 0 auto;
          width: 35%;
        }

        .web-stories-list__story-poster {
          position: relative;

          .arrow-ws {
            content: "";
            background-image: url("../images/setup_arrows/arrow_outward-ws.png");
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 22px;
            right: 21px;
            display: block;
            width: 25px;
            height: 25px;
            z-index: 1;
            @media only screen and (max-width: 575.98px) {
              width: 20px;
              height: 20px;
              background-size: contain;
              top: 19px;
              right: 16px;
            }
          }

          a {
            &::before {
              content: "";
              display: block;
              height: 40%;
              left: 0;
              position: absolute;
              bottom: 0;
              width: 100%;
              z-index: 1;
              border-radius: 10px;
              background: linear-gradient(
                180deg,
                rgba(3, 88, 102, 0) 0%,
                #035866 100%
              );
            }
          }
        }
      }
      .web-stories-list__story-content-overlay {
        bottom: 20px;
        @media only screen and (max-width: 575.98px) {
          bottom: 5px;
        }
      }
    }

    .ov-scroll {
      @media only screen and (max-width: 575.98px) {
        overflow-x: scroll;
        margin-right: -15px;
      }
    }

    .assistir-todos {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $musgo-marfrig;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 0 8px;
      margin-top: 16px;
      @media only screen and (max-width: 575.98px) {
        display: none;
      }

      &::after {
        display: block;
        content: "";
        width: 16px;
        height: 16px;
        background-image: url("../images/setup_arrows/arrow_outward3.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
      }
    }
  }

  section.mais-lidas {
    .texto-lidas {
      color: $title-marfrig;
      font-size: 46px;
      font-weight: 600;
      margin-bottom: 0;
      @media only screen and (max-width: 575.98px) {
        font-size: 22px;
      }
    }

    .related-posts {
      @media only screen and (max-width: 575.98px) {
        gap: 1rem;
      }
    }

    .two-colors {
      h2 {
        color: $azul-marinho-marfrig;
        font-size: 37px;
        font-weight: 600;
        line-height: 46px;
        @media only screen and (max-width: 575.98px) {
          font-size: 32px;
          line-height: 35px;
        }
      }
      span {
        color: $musgo-marfrig;
        font-size: 37px;
        font-weight: 600;
        line-height: 46px;
        @media only screen and (max-width: 575.98px) {
          font-size: 32px;
          line-height: 24px;
        }
      }
      iframe {
        width: 100%;
        @media only screen and (max-width: 575.98px) {
          border-radius: 4.477px;
          height: 205px;
        }
      }
    }
  }

  section.custom-category {
    .heading-wrapper {
      display: flex;
      align-items: baseline;
      color: #035866;
      hr {
        width: 100%;
        border-top: 1px solid #035866;
        margin: 0 0 0 35px;
        @media only screen and (max-width: 575.98px) {
          margin: 0 0 0 15px;
        }
      }
      h3 {
        font-size: 46px;
        font-weight: 600;
        line-height: 57px;
        @media only screen and (max-width: 575.98px) {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 0;
        }
        a {
          color: $musgo-marfrig;
          &:hover {
            color: $orange-marfrig;
            transition: all 0.3s ease;
          }
        }
      }
    }

    .col-md-6 {
      @media only screen and (max-width: 575.98px) {
        padding: 0;
      }
      .card__big .card__thumb {
        &::after {
          @media only screen and (max-width: 575.98px) {
            border-radius: 0;
          }
        }
        img {
          @media only screen and (max-width: 575.98px) {
            border-radius: 0;
          }
        }
      }
    }

    .mod {
      .card {
        .card__vertical {
          .card__content {
            h2 {
              padding-top: 14px;
            }
          }
        }
      }
    }

    .cat {
      display: none;
    }

    .card-spacing {
      @media only screen and (max-width: 575.98px) {
        flex: 0 0 auto;
        width: 50%;
        padding: 0 10px;
      }
      hr {
        @media only screen and (max-width: 575.98px) {
          margin: 22px 0;
        }
      }
    }

    .card-spacing:first-child hr {
      display: none;
      @media only screen and (max-width: 575.98px) {
        display: block;
      }
    }

    .card-spacing:nth-child(2) hr {
      // espaçamento hr do segundo card no pic
      margin: 22px 0;
    }
  }

  section.news-maisBuscadas {
    margin-bottom: 80px;
    @media only screen and (max-width: 575.98px) {
      margin-bottom: 50px;
    }
    .newsletter-home {
    }
    .mais-buscadas-home {
      margin-bottom: 90px;
      @media only screen and (max-width: 575.98px) {
        margin-bottom: 0;
      }
    }
    .banner-quadrado {
    }
  }
}

body.home.admin-bar {
  margin-top: -18px;
  @media only screen and (max-width: 575.98px) {
    margin-top: -35px;
  }
}
