.page-template-page-canal-especial {
    #main {
        padding-top: 0px;
        @media only screen and (max-width: 575.98px) {
            overflow-x: hidden;
        }

        .header-canal-especial {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position-x: center;
            padding: 55px 0 60px 0;
            max-width: 1400px;
            margin: 0 auto;

            @media only screen and (min-width: 800px) {
                background-size: contain;
            }
            @media only screen and (min-width: 1400px) {
                background-size: 100% 100%;
            }
            @media only screen and (max-width: 575.98px) {
                padding: 40px 0 50px 0;
                background-size: initial;
            }

            .category {
                color: #FFF;
                p {
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 10px;
                    letter-spacing: 0em;
                    text-transform: uppercase;
                    text-align: left;
                }
            }
            .title {
                color: #FFF;
                h1 {
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
            .description {
                color: #FFF;
                    p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }

            .special-card-canal-especial {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0px;
                position: relative;
                top: 95px;
                @media only screen and (max-width: 575.98px) {
                    min-height: 185px;
                    position: inherit;
                    top: 0;
                    display: flex;
                }

                .card-img {
                    margin: 0;
                    max-width: 40%;
                    flex-basis: 40%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    box-shadow: 0px 4px 4px 0px #00000040;
                    
                    @media only screen and (max-width: 575.98px) {
                        height: inherit;
                        max-width: 42%;
                        flex-basis: 42%;
                    }
                    img {
                        max-height: 297px;
                        @media only screen and (max-width: 575.98px) {
                            max-height: 240px;
                        }
                    }
                }
            
                .card-content {
                    max-width: 60%;
                    flex-basis: 60%;
                    display: flex;
                    align-items: center;
                    background: #F9F9F9; 
                    box-shadow: 0px 4px 4px 0px #00000040;
                    @media only screen and (max-width: 575.98px) {
                        max-width: 58%;
                        flex-basis: 58%;
                    }

                    .cat {
                        color: $orange-marfrig;
                        font-size: 16px;
                        font-weight: 600;
                    }
            
                    h3 {
                        font-size: 22px;
                        @media only screen and (max-width: 575.98px) {
                            font-size: 20px;
                        }
                        a{
                            color: $title-marfrig;
                        }
                    }
                    p {
                        font-size: 14px;
                        a {
                            color: rgba(46,46,46,.6);
                        }
                    }
            
                    .card-content-inner {
                        padding: 16px 7px 10px 28px;
                        @media only screen and (max-width: 575.98px) {
                            padding: 4px 16px;
                            max-height: 199px;
                            overflow: scroll;
                        }
                    }
                }
            }
        }

        .body-canal-especial {
            @media only screen and (max-width: 575.98px) {
                padding-top: 0px;
            }

            .card__vertical {
                .card__thumb {
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .webstories {
                hr {
                    background-color: #BFBFBF;
                }

                .texto-webstories {
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 45px;
                    color: $musgo-marfrig;
                    @media only screen and (max-width: 575.98px) {
                      font-size: 25px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: normal;
                    }
                  }

                .web-stories-list {
                    @media only screen and (max-width: 575.98px) {
                    margin-top: 0;
                    }
            
                    .web-stories-list__story {
                    border-radius: 10px;
                    @media only screen and (max-width: 575.98px) {
                        flex: 0 0 auto;
                        width: 35%;
                    }
            
                    .web-stories-list__story-poster {
                        position: relative;
            
                        .arrow-ws {
                        content: "";
                        background-image: url("../images/setup_arrows/arrow_outward-ws.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 22px;
                        right: 21px;
                        display: block;
                        width: 25px;
                        height: 25px;
                        z-index: 1;
                        @media only screen and (max-width: 575.98px) {
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                            top: 19px;
                            right: 16px;
                        }
                        }
            
                        a {
                        &::before {
                            content: "";
                            display: block;
                            height: 40%;
                            left: 0;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            z-index: 1;
                            border-radius: 10px;
                            background: linear-gradient(
                            180deg,
                            rgba(3, 88, 102, 0) 0%,
                            #035866 100%
                            );
                        }
                        }
                    }
                    }
                    
                    .web-stories-list__story-content-overlay {
                    bottom: 20px;
                    @media only screen and (max-width: 575.98px) {
                        bottom: 5px;
                    }
                    }
                }
            
                .ov-scroll {
                    @media only screen and (max-width: 575.98px) {
                    overflow-x: scroll;
                    margin-right: -10px;
                    }
                }
            }

            .card_entrevista {
                display: flex;
                gap: 25px;
                @media only screen and (max-width: 575.98px) {
                    gap: 16px;
                }

                img {
                    max-width: 194px;
                    height: auto;
                }

                .author {
                    color: #E2A05F;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 5px;
                    @media only screen and (max-width: 575.98px) {
                        font-size: 14px;
                    }
                }

                h2 {
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 0;
                    @media only screen and (max-width: 575.98px) {
                        font-size: 16px;
                    }

                    a {
                        color: #021F59;
                    }
                }
            }
    
            .alm-reveal {
                display: flex;
                flex-wrap: wrap;
                // margin-right: -15px;
                // margin-left: -15px;
            }
        }
    }
}