body.page-template-page-webstories {
    header.header {
        background-color: $musgo-marfrig;
    }
    #main {
        margin-top: 125px;
        @media only screen and (max-width: 575.98px) {
            margin-top: 74px;
        }
    }
    h1 {
        border-radius: 10px;
        background-color: $musgo-marfrig;
        color: $white-marfrig;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 36px 0 34px 29px;
        @media only screen and (max-width: 575.98px) {
            font-size: 21.049px;
            font-weight: 600;
            padding: 20px 0 17px 29px;
            border-radius: 9px;
        }
    }
    .web-stories-list {
        margin: 0;

        &.is-view-type-grid.columns-4 .web-stories-list__story {
            border-radius: 15.526px;
            @media only screen and (max-width: 575.98px) {
                flex-basis: calc(50% - 8px);
            }
            .web-stories-list__story-poster {
                position: relative;
                .arrow-ws {
                    content: "";
                    position: absolute;
                    top: 34px;
                    right: 32px;
                    display: block;
                    width: 38px;
                    height: 38px;
                    z-index: 1;
                    background-image: url('../images/setup_arrows/arrow_outward-ws.png');
                    @media only screen and (max-width: 575.98px) {
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                        top: 19px;
                        right: 16px;
                    }
                }
                
                a {
                    &::before {
                        border-radius: 15.526px;
                        background: linear-gradient(180deg, rgba(3, 88, 102, 0.00) 0%, #035866 100%);
                        height: 40%;
                        bottom: 0;
                        top: inherit;
                    }
                    
                    img {
                        
                    }
                }
            }
        }
    }
}