body.single {
    .single-header {
        display: flex;
        justify-content: center;
        border-radius: 4px;
        position: relative;

        .single__thumb {
            position: relative;
            max-height: 560px;
            overflow: hidden;
            @media only screen and (max-width: 575.98px) {
                max-height: inherit;
                overflow: inherit;
            }

            &::after {
                position: absolute;
                top: 0;
                z-index: 0;
                width: 100%;
                height: 40%;
                content: "";
                display: block;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background: linear-gradient(180deg, rgba(15, 42, 97, 0.7) 9.66%, rgba(15, 42, 97, 0.00) 100%);
            }
            
            img {
                max-width: 1475px;
                min-width: 1440px;
                width: 100%;
                height: auto;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
    
                @media only screen and (max-width: 1475px) {
                    width: 100%;
                    object-fit: fill;
                    width: 100%;
                }
                @media only screen and (max-width: 575.98px) {
                    min-width: inherit;
                    height: 261px;
                    object-fit: cover;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    .thumb__caption {
        color: #2E2E2ECC;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        left: 82.5%;
        top: 100.5%;
        max-width: 195px;

        @media only screen and (min-width: 1456px) {
            left: 81%;
        }

        @media only screen and (min-width: 1570px) {
            left: 78%;
        }
        @media only screen and (min-width: 1600px) {
            left: 75%;
        }

        &.mobile {
            position: inherit;
            font-size: 10px;
            margin-bottom: 13px;
            max-width: 245px;
        }
    }

    .single-content {
        @media only screen and (max-width: 575.98px) {
            padding: 0 6px;
        }

        .content-content {
            background-color: $white-marfrig;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            transform: translate(0px, -140px);
            padding: 27px 20px 0 30px;
            @media only screen and (max-width: 575.98px) {
                transform: translate(0px,-70px);
                padding: 12px 13px 0;
            }

            &.marfrig-verde-section {
                transform: translate(60px,-140px);
                @media only screen and (max-width: 575.98px) {
                    transform: translate(0px,-70px);
                }

                .marfrig-verde-column {
                    position: sticky;
                    top: 280px;
                    @media only screen and (max-width: 575.98px) {
                        top: 0;
                    }

                    .marfrig-verde {
                        position: absolute;
                        left: -17.7%;
                        top: -26px;
                        @media only screen and (max-width: 575.98px) {
                            left: 86%;
                            top: -80px;
                        }

                        .selos {
                            .selo-marfrig {
                                margin-bottom: 14px;
                                @media only screen and (max-width: 575.98px) {
                                    margin-bottom: 10px;
                                }
    
                                img {
                                    width: 83px;
                                    height: auto;
                                    @media only screen and (max-width: 575.98px) {
                                        width: 62px;
                                    }
                                }
                            }
    
                            .seloPilar {
                                width: 60px;
                                height: 53px;
                                border-radius: 4px;
                                z-index: 1;
                                @media only screen and (max-width: 575.98px) {
                                    width: 50px;
                                    height: 41px;
                                }
        
                                &.desenvolvimento {
                                    background-color: #AED7EC;
                                    background-image: url('../images/verde+/selo-desenvolvimento.png');
                                    background-repeat: no-repeat;
                                    background-position: 40% 10px;
                                    background-size: 36px;
                                    @media only screen and (max-width: 575.98px) {
                                        background-position: 38% 7px;
                                        background-size: 31px;
                                    }
                                }
            
                                &.estruturacao {
                                    background-color: #CAEFED;
                                    background-image: url('../images/verde+/selo-estruturacao.png');
                                    background-repeat: no-repeat;
                                    background-position: 50% 13px;
                                    background-size: 40px;
                                    @media only screen and (max-width: 575.98px) {
                                        background-position: 50% 11px;
                                        background-size: 31px;
                                    }
                                }
            
                                &.mecanismos {
                                    background-color: #BCE1C9;
                                    background-image: url('../images/verde+/selo-mecanismo.png');
                                    background-repeat: no-repeat;
                                    background-position: 48% 8px;
                                    background-size: 36px;
                                    @media only screen and (max-width: 575.98px) {
                                        background-position: 50% 6px;
                                        background-size: 31px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .content-header {
                hr {
                    margin: 57px 0 48px;
                    @media only screen and (max-width: 575.98px) {
                        margin: 30px 0;
                    }
                }
                .breadcrumb #breadcrumbs {
                    margin-bottom: 15px;
                    span {
                        span {
                            text-transform: lowercase;
                            font-size: 16px;
                            font-weight: 600;
                            @media only screen and (max-width: 575.98px) {
                                font-size: 15px;
                            }
                            a {
                                color: $orange-marfrig;
                                text-decoration: none;
                            }
                            &.breadcrumb_last {
                                display: none;
                            }
                        }
                    }
                }
                .content-title {
                    h1 {
                        color: $azul-marinho-marfrig;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 42px;
                        margin-bottom: 34px;
                        @media only screen and (max-width: 575.98px) {
                            font-size: 20px;
                            line-height: normal;
                            margin-bottom: 15px;
                        }
                    }
                    h2 {
                        color: $title-marfrig;
                        font-size: 21px;
                        font-weight: 500;
                        margin-bottom: 33px;
                        @media only screen and (max-width: 575.98px) {
                            font-size: 15px;
                            font-weight: 600;
                            margin-bottom: 28px;
                        }
                    }
                }
                .single-author {
                    font-size: 16px;
                    .author {
                        font-weight: 600;
                    }
                    .data {
                    }
                }
                .social-share {
                    ul {
                        margin-bottom: 0;
                        @media (max-width: 575.98px) {
                            margin-bottom: 0;
                        }
    
                        li {
                            padding: 0 6px;
                            @media (max-width: 575.98px) {
                                padding: 0 5px;
                            }
    
                            .fab {
                                font-size: 23px;
                                width: 20px;
                                &::before {
                                    display: block;
                                    width: 20px;
                                }
                                @media (max-width: 575.98px) {
                                    font-size: 20px;
                                    width: 20px;
                                }
                            }
                        }
                        // .fa-facebook-square {color: #4267B2;}
                        // .fa-twitter {color: #1da1f2;}
                        // .fa-whatsapp {color: #25D366;}
                        // .fa-linkedin {color: #0e76a8;}
                        .icons {
                            display: block;
                            width: 30px;
                            height: 30px;
                            background-repeat: no-repeat;
                            background-size: contain;

                            &.fb-icon{
                                background-image: url('../images/social-icons/facebook.png');
                            }
                            &.twitter-icon{
                                background-image: url('../images/social-icons/twitter.png');
                            }
                            &.linkedin-icon{
                                background-image: url('../images/social-icons/linkedin.png');
                            }
                            &.whatsapp-icon{
                                background-image: url('../images/social-icons/whatsapp.png');
                            }
                        }
                    }
                    ul li:last-child {
                        padding-right: 0px;
                    }
                    .newsletter-inscrever {
                        span {
                            display: flex;
                            align-items: center;
                            padding: 7.5px 10px;
                            background-color: $orange-marfrig;
                            border-radius: 2.282px;
                            color: $white-marfrig;
                            font-size: 11.954px;
                            font-weight: 600;
                            line-height: 14.835px;
    
                            &::before {
                                display: block;
                                content: "";
                                background-image: url('../images/forward_to_inbox.png');
                                background-size: contain;
                                background-repeat: no-repeat;
                                width: 17px;
                                height: 15px;
                                margin-right: 10.50px;
                            }
                        }
                    }
                }
            }
            #article {
                p {
                    color: $text-article-marfrig;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    @media only screen and (max-width: 575.98px) {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;
                    }
                    a {
                        color: $text-article-marfrig;
                        text-decoration: underline;
                    }
                }

                img {
                    max-width: 100%;
                }
            }
            .post-tags {
                display: flex;
                align-items: center;

                .title {
                    color: $title-marfrig;
                    font-size: 20px;
                    font-weight: 600;
                    @media only screen and (max-width: 575.98px) {
                        font-size: 16px;
                        line-height: normal;
                    }
                }
                .tags-list {
                    margin-left: 24px;

                    a {
                        display: inline-flex;
                        color: $orange-marfrig;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19.857px;
                        padding: 9px 20px;
                        border-radius: 32px;
                        border: 1px solid $orange-marfrig;
                        @media only screen and (max-width: 575.98px) {
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 9.177px;
                            padding: 6px 10px;
                        }

                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .related-posts {
            hr {
                background-color: #2E2E2E9A;
            }
        }
    }

    .sticky-aside {
        position: sticky;
        top: 40px;
        margin-bottom: 140px;
        @media only screen and (max-width: 575.98px) {
            margin-bottom: 30px;
        }

        .banner-quadrado {
            display: flex;
            justify-content: center;
        }
    }
}