body.tag-entrevistas {
    #main {
        h1 {
            background-color: $azul-marinho-marfrig;
            color: $white-marfrig;
            margin-bottom: 70px;
        }
        .banner-quadrado {
            position: sticky;
            top: 40px;
            .banner {
                @media only screen and (max-width: 575.98px) {
                    position: inherit;
                    top: 0;
                }

                img {
                    max-width: 100%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }

        .card.entrevistas {
            
            .card__entrevistas {
                background-image: url('../images/entrevistas-sample/path-entrevista.png');
                background-repeat: no-repeat;
                background-position: bottom;
                display: flex;
                background-color: $verde-marfrig;
                border-radius: 14.632px;
                position: relative;
                min-height: 282px;
                @media only screen and (max-width: 575.98px) {
                    min-height: 147px;
                    border-radius: 8.632px;
                    background-position: -5px -69px;
                    background-size: 378px;
                }
        
                .card__thumb {
                    margin-bottom: 0;
                    img {
                        position: absolute;
                        bottom: 0;
                        left: 7px;
                        max-width: 265px;
                        @media only screen and (max-width: 575.98px) {
                            max-width: 173px;
                            max-height: 180px;
                        }
                    }
                }
        
                .card__content {
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    align-items: center;
                    padding: 40px 11px 52px 8px;
                    @media only screen and (max-width: 575.98px) {
                        padding: 20px 11px 25px 0px;
                    }
        
                    h2 {
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        @media only screen and (max-width: 575.98px) {
                            font-size: 15.738px;
                        }
                        a {
                            color: $azul-marinho-marfrig;
                        }
                    }
                    p {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        a {
                            color: $title-marfrig;
                        }
                    }
                    .btn {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        background-color: $azul-marinho-marfrig;
                        padding: 6px 10px;
                        border-radius: 4px;
                        a {
                            color: #FFF;
                        }
                    }
                }

                &.destaque {
                    background-position: right;
                    min-height: 405px;
                    margin-bottom: 0;
                    @media only screen and (max-width: 575.98px) {
                        min-height: 238px;
                        border-radius: 0;
                        display: flex;
                        align-items: center;
                        margin-left: -15px;
                        margin-right: -15px;
                        background-position: 63px -169px;
                        background-size: inherit;
                    }

                    .card__thumb {
                        img {
                            position: absolute;
                            bottom: 0px;
                            left: 20px;
                            max-width: 388px;
                            @media only screen and (max-width: 575.98px) {
                                max-width: 210px;
                                left: -4px;
                                max-height: inherit;
                            }
                        }
                    }
                    .card__content {
                        padding: 0px 110px 0px 12px;
                        @media only screen and (max-width: 575.98px) {
                            padding: 0px 11px 0px 8px;
                        }
        
                        h2 {
                            font-size: 32px;
                            margin-bottom: 20px;
                            @media only screen and (max-width: 575.98px) {
                                font-size: 18px;
                                margin-bottom: 10px;
                            }
                        }
                        p {
                            margin-bottom: 30px;
                            @media only screen and (max-width: 575.98px) {
                                font-size: 9px;
                                font-weight: 500;
                                margin-bottom: 0;
                            }
                        }
                        .btn {
                            @media only screen and (max-width: 575.98px) {
                                display: none;
                            }
                        }
                        .author {
                            position: absolute;
                            top: -33px;
                            left: 84%;
                            border-bottom: 4px solid #021F59;
                            color: $azul-marinho-marfrig;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            padding-bottom: 6px;
                            @media only screen and (max-width: 575.98px) {
                                top: -26px;
                                left: 68%;
                                font-size: 11.897px;
                            }
                        }
                    }
                }
            }

            .author-section {
                display: flex;
                align-items: center;
                gap: 25px;

                .name {
                    color: $azul-marinho-marfrig;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    @media only screen and (max-width: 575.98px) {
                        font-size: 12px;
                    }
                }
                .role {
                    color: $title-marfrig;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    @media only screen and (max-width: 575.98px) {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}