body.dark-mode.search-open {
    #search {
        background-color: #000;
    }
    .search-header {
        background-color: #000;

        form {
            input {
                background-color: #000;
            }
        }
    }
}