// ----- ID COLORS VARIABLES

$title-marfrig: #2E2E2E;

$cinza-marfrig : rgba(46, 46, 46, 0.60);

$azul-marinho-marfrig: #021F59;

$text-article-marfrig: #313131;

$verde-marfrig: #B2DBBF;

$orange-marfrig: #EE9C51;

$musgo-marfrig: #035866;

$white-marfrig: #fff;


// ----- DARK-MODE COLORS VARIABLES

$title-dm-marfrig: #000;

$color-body-dm: #1C1C1C;

$color-body2-dm: #282B32;

// $color-block-dm: #404040;

// $color-graphic-dm: #A4A4A4;

// $color-footer-dm: #3D4046;