section.especiais {
    .title {
        color: $orange-marfrig;
        font-size: 25px;
        font-weight: 600;
        line-height: normal;
    }
    h3 {
        color: $cinza-marfrig;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media only screen and (max-width: 575.98px) {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    .cards-especiais {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;

        .especial {
            flex: 1 0 47.7%;
            border-radius: 6.557px;
            height: 110px;
            justify-content: space-between;
            @media only screen and (max-width: 575.98px) {
                flex: 1 0 45.7%;
            }

            p {
                align-self: end;
                color: #fff;
                margin-bottom: 0;
                font-size: 19.672px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 0 0 25px 13px;
                @media only screen and (max-width: 575.98px) {
                    font-size: 17px;
                    padding: 0 0 25px 10px;
                }
            }

            .arrow {
                align-self: end;
                background-image: url('../images/setup_arrows/arrow_outward.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
                margin-bottom: 25px;
                margin-right: 15px;
                @media only screen and (max-width: 575.98px) {
                    margin-right: 10px;
                }
            }

            &.first {
                background-color: $orange-marfrig;
                p {
                }
            }
            &.second {
                background-color: #F9F9F9;
                p {
                    color: $orange-marfrig;
                }
                .arrow {
                    background-image: url('../images/setup_arrows/arrow_outward2.svg');
                }
            }
            &.third {
                background-color: #F9F9F9;
                p {
                    color: $musgo-marfrig;
                }
                .arrow {
                    background-image: url('../images/setup_arrows/arrow_outward3.svg');
                }
            }
            &.fourth {
                background-color: $musgo-marfrig;
                p {
                    color: #fff;
                }
            }
        }
    }
}