footer#footer {
    background-color: #2E2E2E;
    padding: 96px 0 86px;
    @media only screen and (max-width: 575.98px) {
        padding: 53px 0 64px;
    }

    nav.footer {
        ul.nav {
            flex-direction: column;
            gap: 12px;
            li {
                font-size: 12px;
                font-weight: 600;
                a {
                    color: $verde-marfrig;
                }
            }
        }
    }

    .logo-white-pratodoamanha {
        display: flex;
        justify-content: center;
        img {
            @media only screen and (max-width: 575.98px) {
                width: 184px;
            }
        }
    }

    .marfrig-descriptions {
        img {
            display: flex;
            margin: 0 auto;
            margin-bottom: 21px;
            transform: translateX(45px);
        }
        .copyright {
            color: $verde-marfrig;
            text-align: right;
            font-size: 12px;
            font-weight: 600;
        }
    }
}